# MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=tfm_task_manager

# LLM
API_KEY=
LLM_MODEL=gpt-3.5-turbo
LLM_TEMPERATURE=0.1

# Gradio
GRADIO_PORT=7860

# Logging
LOG_LEVEL=INFO
LOG_NAME=task_manager_agent
